---
heading: Loan Programs
---
<% @title = "Loan Programs" + " | " + program.title %>
<h2 id="page-heading"><%= current_page.data.heading %></h2>
<div class="section group">
  <section class="col one-third">
    <ul class="programs">
      <% data.loanprograms.program.each do |program| %>
      <li class="loan-program-title">
        <%= link_to program.title, program, current_link("/loan-programs/#{program.url}") %>
      </li>
      <% end %>
    </ul>
  </section>
  <section class="col two-thirds">
    <div class="loan-program">
      <% p = locals[:program] %>
      <h3><%= p[:title] %></h3>
      <p><%= p[:description] %></p>
      <ul class="loan-highlights">
        <%= p[:highlights] %>
      </ul>
    </div>
  </section>
</div>