<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Noon Financial Services, a financial services and mortgage brokerage firm serving the San Francisco Bay Area since 1994.">
    <!-- Use the title from a page's frontmatter if it has one -->
    <% if content_for?(:head_assets) %>
      <%= yield_content :head_assets %>
    <% else %>
      <title><%= current_page.data.title || "Noon Financial Services | " + @title %></title>
    <% end %>
    <meta property="og:title" content="Noon Financial Services">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://noonfinancial.com">
    <meta property="og:image" content="https://noonfinancial.com/images/noon-financial-og.png">
    <meta property="og:description" content="Noon Financial Services, a financial services and mortgage brokerage firm serving the San Francisco Bay Area since 1994.">
    <%= favicon_tag "favicon.png" %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.10/css/all.css", integrity: "sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg", crossorigin: "anonymous" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js", integrity: "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin: "anonymous" %>
    <%= javascript_include_tag :site %>
    <%= partial "google" %>
  </head>
  <body class="<%= page_classes %>">
    <header id="global-header" class="group">
      <div class="wrap">
        <div class="logo">
          <%= link_to image_tag("noon-financial.png", :alt => "Noon Financial", :title => "Noon Financial"), "/index.html" %>
        </div>
        <a class="toggle-nav" href="#">
          <i class="fa fa-bars"></i>
        </a>
        <nav class="menu">
          <ul class="active">
            <li><%= link_to "Home", "/", nav_active("/") %></li>
            <li><%= link_to "Contact", "/contact", nav_active("/contact/") %></li>
          </ul>
        </nav>
      </div>
    </header>

    <% if current_page.url == "/" %>
      <div class="banner">
        <%= image_tag("banner.png", :alt => "Noon Financial Services", :title => "Noon Financial Services") %>
        <div class="caption">
          <div class="caption-inner">
            <div class="caption-content">
              <p>
                Noon Financial Services has been serving the San Francisco Bay Area since 1994. Customers continually rely on our expertise in all aspects of the mortgage financing process.
                <button onclick="location.href='/contact'">Get started today</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
        <small>
          Copyright &copy; <%= Time.now.year %> Noon Financial Services. All rights reserved.
        </small>
    </footer>

  </body>
</html>
