<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Noon Financial Services, a financial services and mortgage brokerage firm serving the San Francisco Bay Area since 1994.">
    <!-- Use the title from a page's frontmatter if it has one -->
    <% if content_for?(:head_assets) %>
      <%= yield_content :head_assets %>
    <% else %>
      <title><%= current_page.data.title || "Noon Financial Services | " + @title %></title>
    <% end %>
    <meta property="og:title" content="Noon Financial Services">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://noonfinancial.com">
    <meta property="og:image" content="https://noonfinancial.com/images/noon-financial-og.png">
    <meta property="og:description" content="Noon Financial Services, a financial services and mortgage brokerage firm serving the San Francisco Bay Area since 1994.">
    <%= favicon_tag "favicon.png" %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.10/css/all.css", integrity: "sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg", crossorigin: "anonymous" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.min.js", integrity: "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin: "anonymous" %>
    <%= javascript_include_tag :site %>
    <%= partial "google" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="nav-meta">
      The best in home loans, the best in the Bay. Call <a href="tel:+19256834460">925-683-4460</a> today!
    </div>
    <header id="global-header" class="group">
      <div class="wrap">
        <div class="logo">
          <%= link_to image_tag("noon-financial.png", :alt => "Noon Financial", :title => "Noon Financial"), "/index.html" %>
        </div>
        <a class="toggle-nav" href="#">
          <i class="fa fa-bars"></i>
        </a>
        <nav class="menu">
          <ul class="active">
            <li><%= link_to "Home", "/", nav_active("/") %></li>
            <li><%= link_to "About", "/about", nav_active("/about/") %></li>
            <li><%= link_to "Contact", "/contact", nav_active("/contact/") %></li>
          </ul>
        </nav>
      </div>
    </header>

    <% if current_page.url == "/" %>
      <div class="banner">
        <%= image_tag("banner.png", :alt => "Noon Financial Services", :title => "Noon Financial Services") %>
        <div class="caption">
          <div class="caption-inner">
            <div class="caption-content">
              <p>
                Noon Financial Services has been serving the San Francisco Bay Area since 1994. Customers continually rely on our expertise in all aspects of the mortgage financing process.
                <button onclick="location.href='/contact'">Get started today</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="section group">
        <section class="col one-third">
          <ul id="social">
            <li>
              <%= link_to "<i class='fab fa-yelp fa-2x' aria-hidden='true'></i>".html_safe, "https://www.yelp.com/biz/noon-financial-services-san-ramon", {:title => "Yelp", :target => "_blank"} %>
            </li>
            <li>
              <%= link_to "<i class='fab fa-facebook-f fa-2x' aria-hidden='true'></i>".html_safe, "https://www.facebook.com/noonfinancial", {:title => "Facebook", :target => "_blank"} %>
            </li>
            <li>
              <%= link_to "<i class='fab fa-twitter fa-2x' aria-hidden='true'></i>".html_safe, "https://twitter.com/noonfinancial", {:title => "Twitter", :target => "_blank"} %>
            </li>
            <li>
              <%= link_to "<i class='fab fab-instagram fa-2x' aria-hidden='true'></i>".html_safe, "https://instagram.com/noonfinancial", {:title => "Instagram", :target => "_blank"} %>
            </li>
          </ul>
        </section>
        <section class="col two-thirds">
          <h4>
            Subscribe to our mailing list for news and updates on current rates
          </h4>
          <form id="mailing-list" action="https://inspirix.createsend.com/t/y/s/baa/" method="post">
            <div>
              <input type="text" name="cm-name" placeholder="Name" required>
            </div>
            <div>
              <input type="text" name="cm-baa-baa" placeholder="Email Address" required>
            </div>
            <div>
              <input type="submit" value="Subscribe">
            </div>
          </form>
        </section>
      </div>
      <div class="section group">
        <section class="col">
          <small>
            Designed and developed with <i class="fas fa-heart" aria-hidden="true"></i> by <%= link_to "Jamie Noon", "https://jamienoon.com", :target => "_blank" %><br>
            Copyright &copy; <%= Time.now.year %> Noon Financial Services. All rights reserved.
          </small>
        </section>
      </div>
    </footer>

  </body>
</html>
